body {
    background: linear-gradient(to bottom right, #ffb6c1, #add8e6) no-repeat fixed;
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(to bottom right, #d8a4af, #91a7d0);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.btn-danger {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
}

.btn-danger:hover {
    background-color: #e60000;
    border-color: #e60000;
}

.btn-success {
    background-color: #33cc33;
    border-color: #33cc33;
}

.btn-success:hover {
    background-color: #008000;
    border-color: #008000;
}

.gif-img {
    max-width: 500px;
    width: 100%;
    height: auto;
}
